.loading {
  background: url(jqtouch/apple-theme/img/loading.gif) no-repeat 50% center;
  height:50px;
}
#visits {
  width:240px;
}
.visualize-labels-x {
  display:none;
}
#visitors_10days .container {
  width:320px;
  margin:20px auto;
  padding-left:50px;
}
#visited_websites table {
	font-weight:normal;
	font-size:0.7em;
	border-collapse:collapse;
  border-spacing:0px;
}

#visited_websites table th{
  padding-right:5px;
  padding-bottom:10px;
}

#visited_websites table td{
  border-bottom:1px solid #000000;

}